@import url('./fonts.css');

.body {
  margin: 0;
  font-family: 'OpenSans';
  font-size: 16px;
  color: #3e3e3e;
  background-color: #fff;
}

.App {
  display: flex;
  overflow-y: hidden;
}

.main {
  width: 100%;
  overflow-y: auto;
}