/* HEADER */
.header__title {
  margin: 0;
  font-weight: 900;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
  color: #3e3e3e;
  border-bottom: 1px solid #656565;
  text-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.header__title-span {
  color: #14b1ff;
}

/* SIDEBAR */
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  width: 100%;
  max-width: 220px;
  height: 100vh;
  box-shadow: 3px 0 15px 1px rgba(0,0,0,0.2);
  background-color: #f1eeee;
  transition: all 0.2s;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  justify-self: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__item {
  box-sizing: content-box;
  padding: 20px 40px;
  cursor: pointer;
  color: #3e3e3e;
  font-weight: 500;
  font-size: 16px;
}

.sidebar__item:hover {
  background-color: #cecece;
}

.sidebar__item_active {
  background-color: #fff;
  border-right: 3px solid #96d974;
}

/* ТЕМА САЙТА */
.theme-button {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  max-width: 40px;
  margin: 0 auto;

  color: #302762;
}