/* HEADER */
.header__title {
  margin: 0;
  font-weight: 900;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
  color: #3e3e3e;
  text-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.header__title-span {
  color: #14b1ff;
}

/* SIDEBAR */
.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 220px;
  height: 100vh;
  box-shadow: 3px 0 15px 1px rgba(0,0,0,0.2);
  background-color: #f1eeee;
  transition: all 0.2s;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  justify-self: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__navlink {
  text-decoration: none;
  box-sizing: content-box;
  padding: 20px 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  color: #3e3e3e;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s;
}

.sidebar__navlink_active {
  background-color: #fff;
  border-right: 3px solid #96d974;
}

.sidebar__item:hover {
  background-color: #e2e2e2;
}

.sidebar__item_active:hover {
  background-color: #fff;
}